body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  padding: 30px 50px;
  width: 100%;
}

.pro-sidebar-inner {
  background-color: #f1f1f1 !important;
  color: black !important;
}

.pro-icon {
  color: #ffffff;
}

.color-nav {
  background-color: #f1f1f1 !important;
  height: 8vh !important;
}

.collapse-sidebar-btn {
  margin-right: 10px;
  font-size: 22px;
  transition: 0.5s;
}

.collapse-sidebar-btn:hover {
  cursor: pointer;
  font-size: 30px;
  transform: rotate(90deg);
}

.instagram {
  font-size: 24px;
  transition: 0.4s;
}

.instagram:hover {
  cursor: pointer;
  font-size: 30px;
}

.add-btn {
  font-size: 40px;
  color: #528af9;
  margin-left: -3px;
  transition: 0.2s;
}

.add-btn:hover {
  color: #0057f9;
  cursor: pointer;
  transform: scale(1.2);
}

.delete-btn {
  font-size: 40px;
  color: #dd3e3e;
  margin-left: -3px;
  transition: 0.2s;
}

.delete-btn:hover {
  color: #f10e0e;
  cursor: pointer;
  transform: scale(1.2);
}

.div-large-form {
  display: flex;
  justify-content: space-around;
}

.form-group {
  width: 1000px;
  margin: 10px;
}

.card-client {
  background-color: #f1f1f1;
  width: 275px;
  height: 100px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.2s;
}

.card-client:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card-inside {
  display: flex;
  flex-direction: column;
}

.card-description {
  color: #999;
}

.client-btn-group {
  margin-top: 20px;
  display: flex;
}

.client-btn-group .btn {
  margin-right: 20px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  box-shadow: 0 0 10px #ccc;
  transition: 0.3s;
}

.client-btn-group .btn:hover {
  margin-right: 20px;
  border-radius: 10px;
  transform: scale(1.1);
}
