body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  padding: 30px 50px;
  width: 100%;
}

.pro-sidebar-inner {
  background-color: #f1f1f1 !important;
  color: black !important;
}

.pro-icon {
  color: #ffffff;
}

.color-nav {
  background-color: #f1f1f1 !important;
  height: 8vh !important;
}

.collapse-sidebar-btn {
  margin-right: 10px;
  font-size: 22px;
  transition: 0.5s;
}

.collapse-sidebar-btn:hover {
  cursor: pointer;
  font-size: 30px;
  transform: rotate(90deg);
}

.instagram {
  font-size: 24px;
  transition: 0.4s;
}

.instagram:hover {
  cursor: pointer;
  font-size: 30px;
}

.add-btn {
  font-size: 40px;
  color: #528af9;
  margin-left: -3px;
  transition: 0.2s;
}

.add-btn:hover {
  color: #0057f9;
  cursor: pointer;
  transform: scale(1.2);
}

.delete-btn {
  font-size: 40px;
  color: #dd3e3e;
  margin-left: -3px;
  transition: 0.2s;
}

.delete-btn:hover {
  color: #f10e0e;
  cursor: pointer;
  transform: scale(1.2);
}

.div-large-form {
  display: flex;
  justify-content: space-around;
}

.form-group {
  width: 1000px;
  margin: 10px;
}

.card-client {
  background-color: #f1f1f1;
  width: 275px;
  height: 100px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.2s;
  margin-bottom: 20px;
}

.card-client:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card-inside {
  display: flex;
  flex-direction: column;
}

.card-description {
  color: #999;
}

.client-btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.client-btn-group .btn {
  margin-right: 20px;
  border-radius: 10px;
  width: 130px;
  height: 50px;
  box-shadow: 0 0 10px #ccc;
  transition: 0.3s;
}

.client-btn-group .btn:hover {
  margin-right: 20px;
  border-radius: 10px;
  transform: scale(1.1);
}

.sell-btn {
  font-size: 40px;
  color: #3edd46;
  transition: 0.2s;
}

.sell-btn:hover {
  color: #00ff0d;
  cursor: pointer;
  transform: scale(1.15);
}

.gotopage-btn {
  color: #dfe241;
  font-size: 40px;
  transition: 0.5s;
}

.gotopage-btn:hover {
  color: #f8fc04;
  cursor: pointer;
  transform: scale(1.15) rotate(90deg);
}

.sellfront-card-left {
  margin-top: 20px;
}

.sellfront-card-left > div {
  margin-bottom: 30px;
  height: 60px;
  width: 170px;
}

.sellfront-table {
  margin: 10px 40px;
}

.sellfront-buttons {
  display: flex;
  flex-direction: column;
}

.print-btn {
  font-size: 40px;
  color: #fa8920;
  transition: 0.2s;
}

.print-btn:hover {
  color: #ff7d04;
  cursor: pointer;
  transform: scale(1.15);
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.pagination-arrow {
  font-size: 30px;
  background-color: #20bae9;
  transition: 0.2s;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.pagination-arrow:hover {
  background-color: #00c3ff;
  cursor: pointer;
  transform: scale(1.15);
}

.pagination-arrow-disabled {
  font-size: 30px;
  background-color: #e44040;
  color: white;
  transition: 0.2s;
  border-radius: 5px;
  margin-left: 10px;
}

.global-filter {
  width: 500px !important;
  margin-top: -8px;
}

.page-name {
  position: absolute;
  left: 45vw;
}

.alert {
  position: absolute !important;
  height: 40px;
  bottom: 0px;
  right: 20px;
  display: flex;
  transition: 0.3s;
  justify-content: space-around;
  z-index: 1055 !important;
}

.alert > p {
  margin-top: -10px;
}
